<div class="container-detail card">

    <app-menu [formInvalid]="formDetail.invalid" title="Organization" [items]="menuItems"></app-menu>

    <div class="grid-container grid-col-2">
        <div class="flex-center align-items-center test picture">
            <span class="title-team"> O </span>
        </div>
        <div>picture</div>
        <div>picture</div>
    </div>

    <mat-tab-group mat-stretch-tabs animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="flex-space-between align-items-center">
                    <span class="material-icons mr-4">location_city</span>
                    <span>Organization</span>
                </div>
            </ng-template>
            <form [formGroup]="formDetail">
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" required />
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="standard">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" required />
                    </mat-form-field>
                </div>
            </form>
        </mat-tab>

        <mat-tab label="Sites">

        </mat-tab>
    </mat-tab-group>



</div>