<div class="container-internal-menu">
  <div class="card internal-menu mr-4">

    <h1 class="mb-4">Assets</h1>

    <ul>
      <li routerLink="equipment/list" class="internal-menu-item" routerLinkActive="internal-menu-active-item">
        <a class="flex-space-between">
          <div class="flex-space-between align-items-center">
            <span class="material-icons mr-4">directions_bus</span>
            <span>Equipments</span>
          </div>
          <span class="material-icons">chevron_right</span>
        </a>
      </li>
      <li routerLink="category" class="internal-menu-item" routerLinkActive="internal-menu-active-item">
        <a class="flex-space-between">
          <div class="flex-space-between align-items-center">
            <span class="material-icons mr-4">chrome_reader_mode</span>
            <span>Categories</span>
          </div>
          <span class="material-icons">chevron_right</span>
        </a>
      </li>
      <li routerLink="category" class="internal-menu-item" routerLinkActive="internal-menu-active-item">
        <a class="flex-space-between">
          <div class="flex-space-between align-items-center">
            <span class="material-icons mr-4">local_gas_station</span>
            <span>Fueling</span>
          </div>
          <span class="material-icons">chevron_right</span>
        </a>
      </li>
      <li routerLink="category" class="internal-menu-item" routerLinkActive="internal-menu-active-item">
        <a class="flex-space-between">
          <div class="flex-space-between align-items-center">
            <span class="material-icons mr-4">playlist_add_check</span>
            <span>Checklist</span>
          </div>
          <span class="material-icons">chevron_right</span>
        </a>
      </li>
      <li routerLink="category" class="internal-menu-item" routerLinkActive="internal-menu-active-item">
        <a class="flex-space-between">
          <div class="flex-space-between align-items-center">
            <span class="material-icons mr-4">devices_other</span>
            <span>Measurements</span>
          </div>
          <span class="material-icons">chevron_right</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="internal-container">
    <router-outlet></router-outlet>
  </div>

</div>
