<div class="flex-space-between align-items-center mb-3">
  <div>
    <h1>{{ title }}</h1>
  </div>

  <div class="flex-container">
    <div *ngIf="searchVisible" class="flex-space-between align-items-center search-container mr-4">
      <input [formControl]="searchInputControl"  class="input-search" type="search" placeholder="Search"/>
      <span class="material-icons">search</span>
    </div>
    <ng-template ngFor let-item let-i="index" [ngForOf]="items">
      <button [disabled]="formInvalid" class="btn {{item.class}}" mat-raised-button (click)="item.action()">
        <div class="flex-space-between align-items-center">
          <span class="mr-4">{{ item.label }}</span>
          <span class="material-icons">{{ item.icon }}</span>
        </div>
      </button>
    </ng-template>
  </div>
</div>
<div class="divider"></div>