<div class="container-list">

  <div class="equipment-menu">
    <app-menu title="Checklist" [items]="menuItems" searchVisible="true" (search)="search($event)"></app-menu>

    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let checklist of items">

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ checklist.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ checklist.checklistItems.length }} items
            <mat-icon>playlist_add_check</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list *ngFor="let item of checklist.checklistItems">
          <div *ngIf="item.id; then thenBlock else elseBlock"></div>

          <ng-template #thenBlock>
            <div class="flex-space-between">
              <mat-list-item>{{ item.name }}</mat-list-item>
              <span (click)="removeChecklistItem(checklist, item)" class="material-icons mr-4">close</span>
            </div>
            <mat-divider></mat-divider>
          </ng-template>
          <ng-template #elseBlock>
            <mat-list-item>
              <input (keyup.enter)="onSaveItem(checklist.id, item)" [(ngModel)]="item.name" placeholder="new item"
                required />
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-template>

        </mat-list>

        <mat-action-row>
          <button mat-raised-button (click)="addItem(checklist)" color="primary">Add item</button>
        </mat-action-row>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>