<div class="container-list">

  <div class="equipment-menu">
    <app-menu title="Checklist" [items]="menuItems" searchVisible="true" (search)="search($event)"></app-menu>

    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let checklist of items">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ checklist.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ checklist.checklistItems.length }} items
            <mat-icon>playlist_add_check</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngFor="let item of checklist.checklistItems">
          <div *ngIf="item.id; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <div class="card">{{ item.name }}</div>
          </ng-template>
          <ng-template #elseBlock>
            <div class="card">
              <input (keyup.enter)="onSaveItem(checklist, item)" placeholder="new item" formControlName="name" required />
            </div>
          </ng-template>
        </div>

        <mat-action-row>
          <button mat-raised-button (click)="addItem(checklist)" color="primary">Add item</button>
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>

  </div>
</div>