.container-detail {
    height: 100%;
}

.container-list {
    height: 100%;
    padding: 1rem 1rem;
    border: solid 1px;
    border-color: transparent;
}

.container {
    margin: 12px 12px 12px 20px;
}

.container-internal-menu {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.internal-menu {
    min-width: 296px;
}

.internal-menu-item {
    color: $color-primary-600;
    margin-bottom: 0.875rem;
    padding: 10px 0px 10px 0px;    
    font-size: 14px;
    cursor: pointer;    
}

.internal-menu-item:hover {
    background: #f5f9fd;
    border-radius: 8px;
}

.internal-menu-active-item {
    color: $color-primary-800;
    background: #f5f9fd;
    border-radius: 8px;
    border: none;
}

.internal-container {
    width: 100%;
}
