.container-detail {  
    height: 100%;
    margin: 12px 12px 12px 20px;
}

.container {    
    margin: 12px 12px 12px 20px;    
}

.container-sub-menu {
    display: flex; 
    flex-wrap: nowrap; 
    height: 100%;
}