<header class="app-header flex-space-between">
  <span class="app-logo"></span>
  <div>Logout</div>
</header>
<!-- https://material.io/resources/icons/?icon=account_box&style=baseline -->
<div class="app-menu">
  <ul>
    <li routerLink="dashboard">
      <a class="menu-item">
        <div class="menu-icon" routerLinkActive="menu-active-icon">
          <span class="material-icons">dashboard</span>
        </div>
        <span>Dashboard</span>
      </a>
    </li>
    <li routerLink="allocation">
      <a class="menu-item">
        <div class="menu-icon" routerLinkActive="menu-active-icon">
          <span class="material-icons">assignment</span>
        </div>
        <span>Allocation</span>
      </a>
    </li>
    <li routerLink="asset-manager">
      <a class="menu-item">
        <div class="menu-icon" routerLinkActive="menu-active-icon">
          <span class="material-icons">directions_bus</span>
        </div>
        <span>Assets</span>
      </a>
    </li>
    <li routerLink="settings">
      <a class="menu-item">
        <div class="menu-icon" routerLinkActive="menu-active-icon">
          <span class="material-icons">settings</span>
        </div>
        <span>Settings</span>
      </a>
    </li>
    <li routerLink="organizations">
      <a class="menu-item">
        <div class="menu-icon" routerLinkActive="menu-active-icon">
          <span class="material-icons">location_city</span>
        </div>
        <span>Organization</span>
      </a>
    </li>
    <li routerLink="planning">
      <a class="menu-item">
        <div class="menu-icon" routerLinkActive="menu-active-icon">
          <span class="material-icons">event</span>
        </div>
        <span>Planning</span>
      </a>
    </li>
    <li routerLink="map-viewer">
      <a class="menu-item">
        <div class="menu-icon" routerLinkActive="menu-active-icon">
          <span class="material-icons">map</span>
        </div>
        <span>Map</span>
      </a>
    </li>
    <li routerLink="report">
      <a class="menu-item">
        <div class="menu-icon" routerLinkActive="menu-active-icon">
          <span class="material-icons">trending_up</span>
        </div>
        <span>Report</span>
      </a>
    </li>
  </ul>
</div>
<div class="app-content">
  <router-outlet></router-outlet>
</div>
