<header class="app-header flex-space-between">
<div>a</div>
<div>Logout</div>
</header>
<!-- https://material.io/resources/icons/?icon=account_box&style=baseline -->
<div class="app-menu">
  <ul>
    <li routerLink="/asset-manager">
      <a class="menu-item">
        <div class="menu-icon">          
          <span class="material-icons">airport_shuttle</span>
        </div>
        Asset Manager
      </a>
    </li>
    <li routerLink="/settings">
      <a class="menu-item">
        <div class="menu-icon">
          <span class="material-icons">library_books</span>
        </div>
        Settings
      </a>
    </li>
    <li routerLink=".">
      <a class="menu-item">
        <div class="menu-icon">
          <span class="material-icons">face</span>
        </div>
        Users
      </a>
    </li>
  </ul>
</div>
<div class="app-content">
  <router-outlet></router-outlet>
</div>