<mat-toolbar color="primary">
  <button mat-icon-button (click)="menu.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
      
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #menu mode="side" opened>

      <mat-nav-list class="mat-nav-list">
          <mat-list-item routerLink="/equipment/list">
              <mat-icon mat-list-icon>airport_shuttle</mat-icon>
              <a mat-line>Equipments</a>
          </mat-list-item>
          <mat-list-item routerLink="/material/list">
              <mat-icon mat-list-icon>all_inbox</mat-icon>
              <a mat-line>Materials</a>
          </mat-list-item>
          <mat-list-item routerLink=".">
              <mat-icon mat-list-icon>account_box</mat-icon>
              <a mat-line>Users</a>
          </mat-list-item>
      </mat-nav-list>
      
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container> 
