<div class="container-detail card">

  <app-menu [formInvalid]="formDetail.invalid" title="Equipment" [items]="menuItems"></app-menu>

  <form [formGroup]="formDetail">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
      <br>

      <mat-form-field appearance="standard">
        <mat-label>Short Name</mat-label>
        <input matInput formControlName="shortName" required />
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" [compareWith]="compareWith" required>
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label>Model</mat-label>
        <mat-select formControlName="model" [compareWith]="compareWith" required>
          <mat-option *ngFor="let model of models" [value]="model">
            {{model.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </form>

</div>