<div class="container-list">

    <div class="equipment-menu">      
      <app-menu title="States" [items]="menuItems" searchVisible="true" (search)="search($event)"></app-menu>
  
    <div class="equipment-grid-container flex-container flex-wrap pb-4">
      <div *ngFor="let state of items" class="card equipment-card">
        <div class="flex-space-between align-items-center mb-3">
          <h3>{{ state.name }}</h3>
          <button [matMenuTriggerFor]="menu" class="material-icons cursor-pointer">more_vert
            <mat-menu #menu>
              <button mat-menu-item disabled>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
              <button (click)="updateItem(state)" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button (click)="loadChildren(state.id)" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Children</span>
              </button>
            </mat-menu>
          </button>
        </div>
  
      </div>
    </div>
  
    <mat-paginator class="paginator" [length]="totalItems" [pageSize]="maxPerPage"
      [pageSizeOptions]="[5, 10, 15, 20, 100]" (page)="onPageChanged($event)">
    </mat-paginator>
  
  </div>