<div class="container-list">

  <div class="state-menu">
    <app-menu title="States" [items]="menuItems" searchVisible="true" (search)="onSearch($event)"></app-menu>

    <virtual-scroller class="virtual-scroller" #scroll [items]="items" (vsEnd)="onPageChanged($event)">

      <div #container class="flex-container flex-wrap">
        <div (click)="loadChildren(state.id)" *ngFor="let state of items" class="card state-card cursor-pointer">
          <div class="flex-space-between align-items-center mb-3">
            <h3>{{ state.name }}</h3>
            <button [matMenuTriggerFor]="menu" class="material-icons cursor-pointer">more_vert
              <mat-menu #menu>
                <button (click)="removeItem(state)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
                <button (click)="updateItem(state)" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button (click)="loadChildren(state.id)" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Children</span>
                </button>
              </mat-menu>
            </button>
          </div>

        </div>
      </div>
    </virtual-scroller>
  </div>