@import "../../../../assets/variables";

.virtual-scroller {
  height: calc(100vh - 195px);
}

.equipment-card {
  min-width: 250px;
  height: 140px;
  margin: 20px 20px 0px 0px;
}

.equipment-menu {
  height: 111px;
}