<app-menu title="Equipments" [items]="menuItems"></app-menu>

<mat-chip-list>
  <mat-chip (click)="findByCategory(null)">All</mat-chip>
  <mat-chip *ngFor="let category of categories" (click)="findByCategory(category)">{{ category.name }}</mat-chip>
</mat-chip-list>

<div class="flex-container flex-wrap mb-4">
  <mat-card (click)="updateItem(equipment)" *ngFor="let equipment of items" class="equipment-card">
    <p>{{ equipment.name }}</p>
    <p>{{ equipment.category.name }}</p>
  </mat-card>


</div>

<mat-paginator [length]="totalItems" [pageSize]="maxPerPage" [pageSizeOptions]="[5, 10, 15, 20, 100]"
  (page)="onPageChanged($event)">
</mat-paginator>