$white: #fff !default;

// font-family
$font-family-default: sans-serif !default;

// app-theme
$app-theme-primay: #00b7d3;

// colors
$gray-1: #f5f9fd !default;
$gray-2: #eaeff5 !default;
$gray-3: #dae3ee !default;
$gray-4: #bac9dd !default;
$gray-5: #9badc6 !default;
$gray-6: #8c9eb7 !default;
$gray-7: #60789b !default;
$gray-8: #2c3d56 !default;
$black: #000 !default;
$blue1: #2c46e6 !default;
$blue2: #0087a2 !default;

$border-radius-default: 0.5rem;

// input
$input-padding-y: 1.0625rem !default;
$input-padding-x: 1rem !default;

// button
$btn-padding-y: 0.5rem !default;
$btn-padding-x: 1rem !default;

// font-weight
$font-weight-light: 300 !default;
$font-weight-normal: normal !default;
$font-weight-bold: 500 !default;
$font-weight-extra-bold: 700 !default;

// font-size
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
