<div class="container-list">

  <div class="company-menu">
    <app-menu title="Companies" [items]="menuItems" searchVisible="true" (search)="search($event)"></app-menu>

    <virtual-scroller class="virtual-scroller" #scroll [items]="items" (vsEnd)="onPageChanged($event)">

      <div #container class="flex-container flex-wrap">
        <div *ngFor="let company of items" class="card company-card">
          <div class="flex-space-between align-items-center mb-3">
            <h3>{{ company.name }}</h3>
            <button [matMenuTriggerFor]="menu" class="material-icons cursor-pointer">more_vert
              <mat-menu #menu>
                <button mat-menu-item disabled>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
                <button (click)="updateItem(company)" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
              </mat-menu>
            </button>
          </div>
          <qrcode [qrdata]="company.id" [errorCorrectionLevel]="'M'"></qrcode>

        </div>
      </div>
    </virtual-scroller>
  </div>