<section class="flex-container">
    <div class="flex-container flex-column login-left" >
        <form class="flex-container flex-column login-form"> 
        <h1 class="mb-4">@@login</h1>
        <label class="mb-1">@@user</label>
        <input class="mb-1" type="email"/>
        <label class="mb-1">@@password</label>
        <input class="mb-4" type="password"/>    
        <button class="btn btn-primary" (click)="login()">Login</button>
    </form>
    </div>

    <div class="flex-container flex-column login-right">            
        <p class="login-welcome">Welcome to Intellimining!</p>
        <p class="login-welcome-detail">Nullam pretium nisi tristique mattis sagittis. Vestibulum blandit turpis ac velit hendrerit, vulputate rutrum sem maximus. Praesent finibus ante diam, non rutrum nisi ultrices ut. </p>
    </div>
</section>    



